.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.w-100{
  width: 100%;
}

.grid-container{
  display: grid;
  grid-template-columns: 10px auto 10px;
  gap: 10px;
}

.drawer{
  display: block;
}
.MuiDataGrid-cell{
cursor: pointer;
}

.active {
@apply bg-slate-100;
  color: black;
}

.css-6od3lo-MuiChip-label{
  font-family: 'Work Sans', sans-serif;
}

.lead-capture-columns{
  display: grid;
  grid-template-columns: 400px 5px auto;
  gap: 10px;
}

.header {
  @apply font-bold text-[1.728rem] sm:text-[2.074rem] mb-2 leading-10 text-[#101840];

}

.navLink{
  @apply p-4
}


.label {
@apply mt-4;
  display: block;
}

.dialoglabel{
  @apply mt-4 font-semibold text-slate-700;
  display: block;

}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  font-family: 'Work Sans', sans-serif !important;
}

