.PasswordStrengthIndicator {
    width: 100%;
    font-size: 0.6rem;
    padding-bottom: 2px;
    padding-top: 2px;

    .strRow {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2px;
    }
}